* {
    box-sizing: border-box;
}
.table-wrapper {
    overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
  margin-bottom: 56px;
  font-family: Arial, Helvetica, sans-serif;
}

.table th,
.table td {
  border: 2px solid #000;
  padding: 14px;
  text-align: center;
  background: white;
  font-weight: 600;
}

.table thead th {
  background: white;
}

.form-table input {
  width: 100%;
  padding: 8px;
  border: 2px solid #000;
  text-align: center;
}

.form-table button {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  font-weight: 700;
  cursor: pointer;
}

.form-table button:hover {
  background-color: gray;
}

.edit {
  border: 2px solid #000;
  padding: 6px 12px;
  font-weight: 700;
  cursor: pointer;
}

.delete {
  border: 2px solid #000;
  padding: 6px 12px;
  font-weight: 700;
  cursor: pointer;
}

.edit:hover,
.delete:hover {
  background-color: gray;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}
